<%- include("header") -%>

    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, ullam expedita recusandae repellendus corrupti maiores hic quae accusantium vero, perferendis at. Culpa asperiores dignissimos obcaecati neque, nihil ipsam eligendi et porro facere tempore voluptas consectetur praesentium iusto vel accusamus voluptate laborum repellat cupiditate aliquid doloribus accusantium? Id veritatis, laboriosam tenetur nostrum iste qui aspernatur neque ex harum fugiat praesentium quasi numquam facere odio voluptatibus laudantium eveniet atque, ut veniam iusto consequatur corrupti quisquam labore. Exercitationem iusto, nihil cupiditate quos sapiente ad itaque. Qui aliquid veritatis tenetur labore illum voluptate rem sunt voluptatum assumenda, explicabo corrupti officia impedit nesciunt commodi nihil?\</p>

<%- include("footer") -%>